.nav {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 28rem 1fr;

  &__cart--bigMedia {
    position: absolute;
    right: 6rem;
    top: 2rem;
  }

  &-scrolling {
    height: 11rem;
    grid-template-columns: 1fr 12rem 1fr;
    background: $white-smoke;
    border-bottom: 3px solid $gold;

    & .nav__cart--bigMedia {
      top: 11rem;
      transform: translateY(-50%);
    }
  }

  &__logo {
    width: 28rem;
    height: 20rem;
    grid-column: 2/3;
    justify-self: center;

    @media (max-width: 49em) {
      width: 14rem;
    }

    &--scrolling {
      width: 12rem;
      height: 11rem;

      @media (max-width: 49em) {
        width: 20rem;
      }
    }

    &--img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: inherit;
      height: 100%;
      background-size: cover;
      background-position: center;

      &:last-of-type {
        width: 12rem;
        height: auto;
        padding-top: 1rem;
      }
    }
  }

  &__order {
    grid-column: 1/2;
  }

  &__other {
    grid-column: 3/4;
  }

  &__order,
  &__other {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }

  &__link {
    border: none;
    background: transparent;
    font-family: "Cabin";
    font-size: $h5;
    color: $green;
    text-decoration: none;
  }
}

@media (max-width: 69.4em) {
  .nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-right: 0.5rem;

    &__logo {
      align-items: center;
      align-self: center;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      &--img {
        width: 24rem;
      }

      &--scrolling {
        justify-self: center;
        width: 15rem;
      }
    }

    &__cart--smallMedia {
      justify-self: center;
    }
  }

  .nav__logo--blur {
    pointer-events: none;

    & img {
      filter: blur(2px);
    }
  }

  .nav__menu--btn {
    border: none;
    background: transparent;
    font-size: $h1;
    color: $green;
    cursor: pointer;
  }

  .nav__sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: $white-smoke;
    transform: translateX(-100%);
    z-index: 20;
    border-right: 4px solid $gold;

    &--open {
      display: flex;
      transform: translateX(0);
      animation: navMenuOpen;
      animation-duration: 0.3s;
      flex-direction: column;
      gap: 3rem;
    }

    &--btn {
      display: inline;
      width: 20%;
      background: transparent;
      border: none;
      align-self: end;
      padding-top: 1rem;
      font-size: $h1;
      color: $gold;
      cursor: pointer;
    }

    &--link {
      border: none;
      background: transparent;
      padding-left: 2rem;
      font-family: "Cabin";
      font-size: $h4;
      text-decoration: none;
      color: $green;
      display: flex;
      align-items: center;
      gap: 0.4rem;

      &:hover {
        .nav__sidebar--icon {
          font-size: $h3;
        }
      }
    }

    &--icon {
      color: $gold;
      transition: all 0.3s;
    }
  }
}

@media (max-width: 48em) {
  .nav__sidebar {
    width: 50%;

    &--link {
      font-size: $h5;
      &:hover {
        .nav__sidebar--icon {
          font-size: $h4;
        }
      }
    }

    &--btn {
      font-size: $h2;
    }
  }
}

@media (max-width: 24em) {
  .nav__sidebar {
    width: 60%;
  }
}
