.ordersteps {
  width: 80%;
  margin: 0 auto;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cabin";
  font-size: $p;
  color: $green-dark;
  margin-bottom: 5rem;

  @media (max-width: 83em) {
    width: 90%;
  }

  @media (max-width: 56em) {
    width: 95%;
  }

  &__heading {
    font-family: "Heading";
    font-size: $h3;
    color: $taupe;
    margin-bottom: 3rem;

    @media (max-width: 48em) {
      font-size: $h4;
    }
  }

  &__description {
    font-family: "Cabin";
    font-size: $h6;
    text-align: justify;
    color: $taupe;
    width: 70%;
    margin-bottom: 5rem;

    @media (max-width: 48em) {
      font-size: $p;
    }
    @media (max-width: 27em) {
      width: 95%;
    }
  }

  &__link {
    color: $green;
    font-weight: 600;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    width: 80%;

    @media (max-width: 83em) {
      width: 100%;
    }

    @media (max-width: 31em) {
      gap: 5rem;
    }

    &--btns {
      align-self: center;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @media (max-width: 27em) {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  &__btn {
    cursor: pointer;
    border: none;
    background: transparent;
    font-family: "Cabin";
    font-size: $h4;
    color: $green-dark;

    @media (max-width: 48em) {
      font-size: $h5;
    }
  }

  &__step {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (max-width: 31em) {
      gap: 1rem;
    }

    &--number {
      position: relative;
      font-size: $h2;
      color: $gold;
      padding: 2.2rem 4rem;
      border: 2px solid $gold;
      border-radius: 50%;

      @media (max-width: 33em) {
        font-size: $h4;
        padding: 2rem 3rem;
      }
      @media (max-width: 31em) {
        font-size: $h4;
        padding: 1.8rem 2.4rem;
      }

      &::after {
        content: "";
        height: 3.8rem;
        width: 3px;
        background-color: $gold;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(100%);
        height: 4rem;

        @media (max-width: 31em) {
          height: 6.2rem;
        }
      }
    }

    &--text {
      width: 80%;
      color: $green;
      font-size: $h6;
      font-weight: 500;
      display: flex;
      align-items: center;

      @media (max-width: 83em) {
        width: 100%;
      }

      @media (max-width: 56em) {
        font-size: $p;
      }

      @media (max-width: 33em) {
        font-size: $small;
      }
      @media (max-width: 31em) {
        height: 8rem;
      }
    }

    &:last-child {
      .ordersteps__step--number {
        &::after {
          content: none;
        }
      }
    }
  }
}

.selected {
  font-size: $h3;
  padding-bottom: 5px;
  background-image: linear-gradient($gold 0 0);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 3px;

  @media (max-width: 48em) {
    font-size: $h4;
  }
}
