@import "variables";
@import "animations";
@import "nav";
@import "hero";
@import "about";
@import "contact";
@import "review";

.hidden {
  visibility: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 41em) {
    font-size: 50%;
  }
}

body {
  width: 100%;
  min-height: 100dvh;
  font-size: $p;
  background: $white-smoke;

  // @media (min-width: 48em) {
  //   min-height: 100%;
  // }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loader {
  width: 100%;
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: pulsate 2s infinite;

  &__img {
    width: 40rem;
    height: auto;
  }
}

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 20rem;
  font-family: "Cabin";
  color: $taupe;

  &__heading {
    font-size: $h3;
  }

  &__btn {
    font-family: "Cabin";
    padding: 1rem 3rem;
    background: $gold;
    color: $taupe;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

.leaf-icon {
  font-size: 14rem;
  position: absolute;
  color: $gold;
  margin-left: 10rem;
  opacity: 0;

  &.in {
    animation: leafMove 2s ease-in-out forwards;
  }
}

.footer {
  width: 100%;
  height: 10rem;
  position: static;
  bottom: 0;
  background: $green;
  margin-top: auto;
}

.blog {
  margin-top: 20rem;
}

.map {
  margin: 0 auto;
  border: 2px solid $gold;
  border-radius: 8px;

  &__popup {
    font-size: $p;
    font-family: "Cabin";
    font-weight: 600;
    color: $green;
  }
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    margin-bottom: 4rem;
    font-size: $h2;
    font-family: "Heading";
    color: $taupe;
  }
  &__posts {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
  }

  &__post {
    position: relative;
    width: 80%;
    height: 25rem;
    padding: 1rem;
    padding-top: 15rem;

    &--heading {
      font-family: "Cabin";
      font-size: $h5;
      margin-bottom: 0.6rem;
      color: $green;
      width: 35rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &--publishedAt {
      font-family: "Cabin";
      font-size: $small;
      color: grey;
      margin-bottom: 2rem;
    }

    &--img {
      width: 100%;
      height: 55%;
      object-fit: cover;
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      transition: all 0.4s ease;
      // filter: brightness(80%) blur(2px);
      &:hover {
        transform: scale(1.1);
      }
    }

    &--content {
      font-size: $p;
      font-family: "Cabin";
      color: $taupe;
      width: 24rem;
      height: 5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--link {
      font-size: $p;
      color: $green;
    }

    &--btn {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.post {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20rem;

  &__img {
    width: 70%;
    height: 40rem;
    object-fit: cover;
    align-self: center;
  }

  &__heading {
    font-size: $h1;
    font-family: "Heading";
    color: $green;
    align-self: center;
  }

  &__info {
    font-family: "Cabin";
    color: grey;
    font-size: $small;
    margin-bottom: 1rem;
  }

  &__text {
    width: 90%;
    align-self: center;
    padding: 4rem 2rem;
  }

  &__content {
    font-size: $h5;
    font-family: "Cabin";
    color: $taupe;
    text-align: justify;
  }
}

.treatments__section {
  display: flex;
  flex-direction: column;

  &--btn {
    font-family: "Cursive";
    font-size: $h4;
    color: $green;
    text-decoration: none;
    margin: 0 auto;
  }
}

.categories {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  column-gap: 3rem;
  row-gap: 3rem;
  margin-bottom: 1rem;

  @media (max-width: 50em) {
    width: 95%;
  }
  @media (max-width: 55em) {
    grid-template-columns: repeat(2, 50%);
  }
  @media (max-width: 25em) {
    column-gap: 0.4rem;
    row-gap: 1.6rem;
  }
}

.group {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 5rem 1fr;

  @media (max-width: 25em) {
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 5rem 1fr;
  }

  &__icon {
    grid-row: 1/2;
    font-size: $h1;
    color: $gold;
    background-color: $gold-light;
    border-radius: 50%;
    padding: 0.4rem;

    @media (max-width: 25em) {
      font-size: $h2;
    }
  }

  &__content {
    grid-column: 2/3;
    margin-top: -0.8rem;
  }

  &__heading {
    font-family: "Cabin";
    font-size: $h5;
    font-weight: 400;
    color: $green;
    align-self: center;
    margin-left: 0.4rem;

    @media (max-width: 59em) {
      font-size: $h6;
    }
    @media (max-width: 25em) {
      font-size: $p;
    }
  }

  &__text {
    font-family: "Cabin";
    font-size: $small;
    color: $green-dark;
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;
  }
}
