@font-face {
  font-family: "Heading";
  src: url("/assets/fonts/engr-webfont.woff2") format("woff2"), url("/assets/fonts/engr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cursive";
  src: url("/assets/fonts/homemadeapple-regular-webfont.woff2") format("woff2"), url("/assets/fonts/engr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes navMenuOpen {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes navMenuClose {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes switchImages {
  0%, 50% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
@keyframes leafMove {
  0% {
    opacity: 0.5;
    transform: translateX(-20rem) translateY(15%) rotate(0deg);
  }
  30% {
    opacity: 1;
    transform: translateX(-5rem) translateY(0) rotate(30deg);
  }
  50% {
    opacity: 1;
    transform: translateX(5rem) translateY(-60%) rotate(-180deg);
  }
  99% {
    opacity: 0;
    transform: translateX(40rem) translateY(15%) rotate(-360deg);
  }
  100% {
    visibility: hidden;
  }
}
@keyframes cardMove {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.underline_animation_hover {
  padding-bottom: 1px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}
.underline_animation_hover:hover, .underline_animation_hover:active {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.underline_animation_hover--green {
  padding-bottom: 1px;
  background-image: linear-gradient(#606658 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}
.underline_animation_hover--green:hover, .underline_animation_hover--green:active {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.nav {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 28rem 1fr;
}
.nav-scrolling {
  height: 11rem;
  grid-template-columns: 1fr 12rem 1fr;
  background: #f4f4f2;
  border-bottom: 3px solid #f4bf87;
}
.nav__logo {
  width: 28rem;
  height: 20rem;
  grid-column: 2/3;
  justify-self: center;
}
.nav__logo--scrolling {
  width: 12rem;
  height: 11rem;
}
@media (max-width: 49em) {
  .nav__logo--scrolling {
    width: 20rem;
  }
}
.nav__logo--img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: inherit;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.nav__logo--img:last-of-type {
  width: 12rem;
  height: auto;
  padding-top: 1rem;
}
.nav__order {
  grid-column: 1/2;
}
.nav__other {
  grid-column: 3/4;
}
.nav__order, .nav__other {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.nav__link {
  font-family: "Cabin";
  font-size: 2rem;
  color: #606658;
  text-decoration: none;
}

@media (max-width: 65em) {
  .nav {
    display: flex;
  }
  .nav__logo--blur {
    pointer-events: none;
  }
  .nav__logo--blur img {
    filter: blur(2px);
  }
  .nav__menu--btn {
    border: none;
    background: transparent;
    padding-left: 4rem;
    font-size: 4.8828rem;
    color: #606658;
    cursor: pointer;
  }
  .nav__sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: #f4f4f2;
    transform: translateX(-100%);
    z-index: 20;
  }
  .nav__sidebar--open {
    display: flex;
    transform: translateX(0);
    animation: navMenuOpen;
    animation-duration: 0.3s;
    flex-direction: column;
    gap: 3rem;
  }
  .nav__sidebar--btn {
    display: inline;
    width: 20%;
    background: transparent;
    border: none;
    align-self: end;
    padding-top: 1rem;
    font-size: 4.8828rem;
    color: #f4bf87;
    cursor: pointer;
  }
  .nav__sidebar--link {
    padding-left: 2rem;
    font-family: "Cabin";
    font-size: 2.5rem;
    text-decoration: none;
    color: #606658;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  .nav__sidebar--link:hover .nav__sidebar--icon {
    font-size: 3.125rem;
  }
  .nav__sidebar--icon {
    color: #f4bf87;
    transition: all 0.3s;
  }
}
@media (max-width: 48em) {
  .nav__sidebar {
    width: 50%;
  }
  .nav__sidebar--link {
    font-size: 2rem;
  }
  .nav__sidebar--link:hover .nav__sidebar--icon {
    font-size: 2.5rem;
  }
  .nav__sidebar--btn {
    font-size: 3.906rem;
  }
}
@media (max-width: 24em) {
  .nav__sidebar {
    width: 60%;
  }
}
.hero {
  margin: 0 auto;
  margin-top: 20rem;
  margin-bottom: 5rem;
  width: 80%;
  background: #606658;
  display: flex;
  border-radius: 10px;
}
@media (max-width: 38em) {
  .hero {
    width: 80%;
    flex-direction: column-reverse;
  }
}
.hero__img {
  width: 40%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 38em) {
  .hero__img {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}
.hero__heading {
  font-size: 2.5rem;
  font-family: "Heading";
  color: #f4bf87;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 8rem 8rem;
  padding-bottom: 4rem;
  animation: slideInFromLeft 1s 1 ease-in;
}
@media (max-width: 69em) {
  .hero__heading {
    font-size: 2rem;
    padding: 4rem;
    padding-bottom: 0rem;
  }
}
@media (max-width: 63em) {
  .hero__heading {
    font-size: 1.8rem;
  }
}
@media (max-width: 38em) {
  .hero__heading {
    text-align: center;
  }
}
.hero__text {
  width: 95%;
  font-family: "Cabin";
  font-size: 2rem;
  color: #f4f4f2;
  padding: 0 8rem;
  animation: slideInFromLeft 1s 1 ease-in;
}
@media (max-width: 69em) {
  .hero__text {
    font-size: 1.8rem;
    padding: 4rem;
  }
}
.hero__text span:first-of-type {
  line-height: 2;
}
.hero__btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin: 3rem 8rem;
  text-decoration: none;
  font-family: "Cursive";
  font-size: 2rem;
  color: #f4f4f2;
  animation: slideInFromLeft 1s 1 ease-in;
}
@media (max-width: 69em) {
  .hero__btn {
    margin: 2rem 4rem;
  }
}

.about {
  margin-top: 20rem;
  padding-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 91em) {
  .about {
    width: 80%;
    margin: 0 auto;
    margin-top: 20rem;
  }
}
.about__heading {
  font-family: "Heading";
  font-size: 4.8828rem;
  color: #464035;
  margin-bottom: 4rem;
}
@media (max-width: 48em) {
  .about__heading {
    font-size: 3.125rem;
  }
}
@media (max-width: 33em) {
  .about__heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
.about__section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__section.odd {
  position: relative;
  width: 100%;
  flex-direction: row-reverse;
}
.about__section.odd::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/wallpaper2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.2;
}
.about__section--content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 0;
}
@media (max-width: 33em) {
  .about__section--content {
    gap: 1rem;
    flex-direction: column-reverse;
  }
}
.about__section--content.in {
  animation: cardMove 1s forwards;
  animation-delay: 1s;
}
.about__section--content.even {
  flex-direction: row-reverse;
}
@media (max-width: 33em) {
  .about__section--content.even {
    gap: 1rem;
    flex-direction: column-reverse;
  }
}
.about__section--content--img {
  width: 28rem;
  height: auto;
  aspect-ratio: 3/4;
  border-radius: 8px;
}
.about__section--content--text {
  width: 50%;
  height: 37rem;
  padding: 8rem 4rem;
  font-family: "Cabin";
  font-size: 2.5rem;
  color: #606658;
  border-radius: 10px;
}
@media (max-width: 48em) {
  .about__section--content--text {
    font-size: 2rem;
  }
}
@media (max-width: 33em) {
  .about__section--content--text {
    padding: 2rem;
    font-size: 1.8rem;
    width: 80%;
    height: inherit;
  }
}

.contact {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem 1fr;
  margin-top: 20rem;
}
@media (max-width: 75em) {
  .contact {
    width: 85%;
  }
}
@media (max-width: 56em) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
.contact__heading {
  grid-row: 1/2;
  grid-column: 1/3;
  justify-self: center;
  font-family: "Heading";
  font-size: 3.906rem;
  color: #464035;
}
.contact__info {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__info--el {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  font-family: "Cabin";
  color: #606658;
  font-style: italic;
}
.contact__info--icon {
  font-size: 3.125rem;
  color: #f4bf87;
}
.contact__map {
  width: 100%;
}

.review {
  margin-top: 20rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review__heading {
  font-family: "Heading";
  text-transform: uppercase;
  color: #464035;
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
@media (max-width: 25em) {
  .review__heading {
    font-size: 2rem;
  }
}
.review__intro {
  width: 70%;
  font-family: "Cabin";
  font-size: 1.6rem;
  color: #464035;
  margin-bottom: 3rem;
  text-align: justify;
}
@media (max-width: 36em) {
  .review__intro {
    width: 80%;
  }
}
.review__form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 50%;
  padding: 4rem 10rem;
  border-radius: 10px;
  background: #f4bf87;
  font-family: "Cabin";
  font-size: 2rem;
  color: #464035;
}
@media (max-width: 64em) {
  .review__form {
    width: 60%;
  }
}
@media (max-width: 48em) {
  .review__form {
    width: 80%;
  }
}
@media (max-width: 35em) {
  .review__form {
    padding: 4rem 6rem;
  }
}
@media (max-width: 27em) {
  .review__form {
    width: 90%;
    padding: 4rem;
    font-size: 1.8rem;
  }
}
.review__form--text {
  font-size: 1.28rem;
  color: #800000;
}
.review__form--label {
  margin-bottom: -0.8rem;
}
.review__form--label span {
  font-size: 1.28rem;
  color: #800000;
}
.review__form--input {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  background-color: #fdecdc;
  font-family: "Cabin";
  font-size: 1.6rem;
  color: #464035;
}
.review__form--input:focus {
  outline: 1.5px solid #606658;
}
.review__form--btn {
  cursor: pointer;
  width: 40%;
  padding: 1.4rem;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 3rem;
  border: none;
  font-family: "Cabin";
  background: #606658;
  color: #f4f4f2;
  font-size: 1.6rem;
  transition: all 0.2s;
}
@media (max-width: 23em) {
  .review__form--btn {
    width: 55%;
  }
}
.review__form--btn:hover {
  background: #454a3f;
}
.review__submit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review__leaf {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 4.8828rem;
  animation: leafMove 2s ease-in-out forwards;
}

.hidden {
  visibility: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 41em) {
  html {
    font-size: 50%;
  }
}

body {
  width: 100%;
  min-height: 100dvh;
  font-size: 1.6rem;
  background: #f4f4f2;
}

.ScrollBehindOffIOS {
  overflow-y: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.content {
  transition: filter 0.5s ease;
}
.content::before {
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; /* Ensure this is below your sidebar's z-index */
}

.blur {
  filter: blur(4px);
  pointer-events: none;
}
.blur:before {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper__blur {
  overflow-y: hidden;
}

.loader {
  width: 100%;
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: pulsate 2s infinite;
}
.loader__img {
  width: 40rem;
  height: auto;
}

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 20rem;
  font-family: "Cabin";
  color: #464035;
}
.error__heading {
  font-size: 3.125rem;
}
.error__btn {
  font-family: "Cabin";
  padding: 1rem 3rem;
  background: #f4bf87;
  color: #464035;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.leaf-icon {
  font-size: 14rem;
  position: absolute;
  color: #f4bf87;
  margin-left: 10rem;
  opacity: 0;
}
.leaf-icon.in {
  animation: leafMove 2s ease-in-out forwards;
}

.footer {
  width: 100%;
  height: 10rem;
  position: static;
  bottom: 0;
  background: #606658;
  margin-top: auto;
}

.blog {
  margin-top: 20rem;
}

.map {
  margin: 0 auto;
  border: 2px solid #f4bf87;
  border-radius: 8px;
}
.map__popup {
  font-size: 1.6rem;
  font-family: "Cabin";
  font-weight: 600;
  color: #606658;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog__heading {
  margin-bottom: 4rem;
  font-size: 3.906rem;
  font-family: "Heading";
  color: #464035;
}
.blog__posts {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
}
.blog__post {
  position: relative;
  width: 80%;
  height: 25rem;
  padding: 1rem;
  padding-top: 15rem;
}
.blog__post--heading {
  font-family: "Cabin";
  font-size: 2rem;
  margin-bottom: 0.6rem;
  color: #606658;
  width: 35rem;
}
.blog__post--heading:hover {
  text-decoration: underline;
}
.blog__post--publishedAt {
  font-family: "Cabin";
  font-size: 1.28rem;
  color: grey;
  margin-bottom: 2rem;
}
.blog__post--img {
  width: 100%;
  height: 55%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.blog__post--img:hover {
  transform: scale(1.1);
}
.blog__post--content {
  font-size: 1.6rem;
  font-family: "Cabin";
  color: #464035;
  width: 24rem;
  height: 5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog__post--link {
  font-size: 1.6rem;
  color: #606658;
}
.blog__post--btn {
  text-decoration: none;
  cursor: pointer;
}

.post {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
}
.post__img {
  width: 70%;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: center;
}
.post__heading {
  font-size: 4.8828rem;
  font-family: "Heading";
  color: #606658;
  align-self: center;
}
.post__info {
  font-family: "Cabin";
  color: grey;
  font-size: 1.28rem;
  margin-bottom: 1rem;
}
.post__text {
  width: 90%;
  align-self: center;
  padding: 4rem 2rem;
}
.post__content {
  font-size: 2rem;
  font-family: "Cabin";
  color: #464035;
  text-align: justify;
}

.treatments__section {
  display: flex;
  flex-direction: column;
}
.treatments__section--btn {
  font-family: "Cursive";
  font-size: 2.5rem;
  color: #606658;
  text-decoration: none;
  margin: 0 auto;
}

.categories {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 50em) {
  .categories {
    width: 95%;
  }
}
@media (max-width: 55em) {
  .categories {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 25em) {
  .categories {
    -moz-column-gap: 0.4rem;
         column-gap: 0.4rem;
    row-gap: 1.6rem;
  }
}

.group {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 5rem 1fr;
}
@media (max-width: 25em) {
  .group {
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 5rem 1fr;
  }
}
.group__icon {
  grid-row: 1/2;
  font-size: 4.8828rem;
  color: #f4bf87;
  background-color: #fdecdc;
  border-radius: 50%;
  padding: 0.4rem;
}
@media (max-width: 25em) {
  .group__icon {
    font-size: 3.906rem;
  }
}
.group__content {
  grid-column: 2/3;
  margin-top: -0.8rem;
}
.group__heading {
  font-family: "Cabin";
  font-size: 2rem;
  font-weight: 400;
  color: #606658;
  align-self: center;
  margin-left: 0.4rem;
}
@media (max-width: 59em) {
  .group__heading {
    font-size: 1.8rem;
  }
}
@media (max-width: 25em) {
  .group__heading {
    font-size: 1.6rem;
  }
}
.group__text {
  font-family: "Cabin";
  font-size: 1.28rem;
  color: #454a3f;
  margin-left: 0.4rem;
  margin-bottom: 0.4rem;
}

.product__page {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 20rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
.product__page--heading {
  font-family: "Heading";
  font-size: 3.906rem;
  color: #464035;
  margin-bottom: 3rem;
  align-self: center;
}
.product__page--filter-btn {
  cursor: pointer;
  align-self: start;
  padding: 1rem;
  border-radius: 8px;
  background: rgba(96, 102, 88, 0.7);
  border: none;
  font-size: 4.8828rem;
  color: #f4bf87;
  margin-bottom: 1rem;
  transition: all 0.2s;
}
.product__page--filter-btn:hover, .product__page--filter-btn:active {
  background: rgba(96, 102, 88, 0.9);
}
.product__page--filter {
  width: 50%;
  position: absolute;
  top: 10rem;
  left: 10rem;
  display: flex;
  gap: 1rem;
}
.product__page--filter option, .product__page--filter select {
  font-family: "Cabin";
  font-size: 1.6rem;
  color: #464035;
  padding: 0.2rem;
  border-radius: 8px;
  border: 2px solid #f4bf87;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}

.productEl {
  width: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.productEl__img {
  width: 20rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/4;
  filter: blur(2px);
}
.productEl__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 3rem;
}
.productEl__heading {
  padding: 1rem 2rem;
  width: 100%;
  min-height: 10rem;
  font-family: "Cabin";
  font-size: 1.6rem;
  color: #f4f4f2;
  background-color: rgba(96, 102, 88, 0.7);
}
.productEl__text {
  padding: 0.8rem 2rem;
  font-family: "Cabin";
  font-size: 1.28rem;
  font-weight: 600;
  color: #f4f4f2;
  background-color: rgba(96, 102, 88, 0.6);
}
.productEl__text.price {
  font-size: 2rem;
}
.productEl__btn {
  width: 20rem;
  font-family: "Cabin";
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: #454a3f;
  cursor: pointer;
  text-align: center;
}

.product__details {
  width: 80%;
  margin: 0 auto;
  margin-top: 20rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 24rem 1fr;
  grid-template-rows: min-content 1fr;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.product__details--img {
  width: 24rem;
  height: auto;
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 8px;
}
.product__details--heading {
  grid-column: 2/3;
  font-family: "Cabin";
  font-size: 3.906rem;
  color: #606658;
  background: rgba(96, 102, 88, 0.2);
  padding-left: 0.8rem;
  border-radius: 8px;
  margin-bottom: 0.4rem;
}
.product__details--content {
  width: 80%;
  grid-column: 2/3;
  font-family: "Cabin";
  font-size: 1.8rem;
  color: #464035;
  padding-left: 0.8rem;
}
.product__details--text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.product__details--price {
  font-size: 2.5rem;
  font-weight: 500;
  color: #606658;
  margin-bottom: 2rem;
}
.product__details--btn {
  font-family: "Cabin";
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: #606658;
  background: #f4bf87;
  width: 10rem;
  padding: 0.8rem;
  border-radius: 10px;
  margin-top: 5rem;
  transition: all 0.3s;
}
.product__details--btn:hover {
  background: #606658;
  color: #fdecdc;
}/*# sourceMappingURL=index.css.map */