@import "variables";
@import "animations";
@import "nav";
@import "hero";
@import "about";

.hidden {
  visibility: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 41em) {
    font-size: 50%;
  }
}

body {
  width: 100%;
  min-height: 100dvh;
  font-size: $p;
  background: $white-smoke;

  // @media (min-width: 48em) {
  //   min-height: 100%;
  // }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loader {
  width: 100%;
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: pulsate 2s infinite;

  &__img {
    width: 40rem;
    height: auto;
  }
}

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 20rem;
  font-family: "Cabin";
  color: $taupe;

  &__heading {
    font-size: $h3;
  }

  &__btn {
    font-family: "Cabin";
    padding: 1rem 3rem;
    background: $gold;
    color: $taupe;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

.leaf-icon {
  font-size: 14rem;
  position: absolute;
  color: $gold;
  margin-left: 10rem;
  opacity: 0;

  &.in {
    animation: leafMove 2s ease-in-out forwards;
  }
}

.review {
  margin-top: 20rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    font-family: "Heading";
    text-transform: uppercase;
    color: $taupe;
    font-size: $h4;

    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    margin-bottom: 4rem;
  }

  &__intro {
    width: 70%;
    font-family: "Cabin";
    font-size: $p;
    color: $taupe;
    margin-bottom: 3rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 50%;
    padding: 4rem 10rem;
    border-radius: 10px;
    background: $gold;
    font-family: "Cabin";
    font-size: $h5;
    color: $taupe;

    &--text {
      font-size: $small;
      color: $red;
    }

    &--label {
      margin-bottom: -0.8rem;

      & span {
        font-size: $small;
        color: $red;
      }
    }

    &--input {
      padding: 1rem;
      border-radius: 8px;
      border: none;
      background-color: $gold-light;

      font-family: "Cabin";
      font-size: $p;
      color: $taupe;

      &:focus {
        outline: 1.5px solid $green;
      }
    }

    &--btn {
      cursor: pointer;
      width: 40%;
      padding: 1rem;
      border-radius: 8px;
      margin: 0 auto;
      margin-top: 3rem;
      border: none;
      font-family: "Cabin";
      background: $green;
      color: $white-smoke;
      font-size: $p;
      transition: all 0.2s;

      &:hover {
        padding: 1.4rem;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 10rem;
  position: static;
  bottom: 0;
  background: $green;
  margin-top: auto;
}

.blog {
  margin-top: 20rem;
}

.map {
  margin: 0 auto;
  border: 2px solid $gold;
  border-radius: 8px;

  &__popup {
    font-size: $p;
    font-family: "Cabin";
    font-weight: 600;
    color: $green;
  }
}

.contact {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem 1fr;
  margin-top: 20rem;

  @media (max-width: 75em) {
    width: 85%;
  }

  @media (max-width: 56em) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &__heading {
    grid-row: 1/2;
    grid-column: 1/3;
    justify-self: center;

    font-family: "Heading";
    font-size: $h2;
    color: $taupe;
  }

  &__info {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--el {
      display: flex;
      gap: 1rem;
      font-size: $h5;
      font-family: "Cabin";
      color: $green;
      font-style: italic;
    }

    &--icon {
      font-size: $h3;
      color: $gold;
    }
  }

  &__map {
    width: 100%;
  }
}
